# Day 06

In [1]:
# read in responses with counter that increments 1 after each blank line
import pandas as pd
df=pd.DataFrame()
res=[]
grp=1
with open('day6.txt','r') as f:
    for row in f:
        #print(grp,row)
        if row=='\n':
            grp+=1
        else:
            df=df.append(pd.DataFrame([[grp,row.replace('\n','')]]))   
df.columns=['Grp','Responses']
df.tail()

   Grp           Responses
0  461            mqlxejyc
0  462  zasctgqmdpnfhieokl
0  462    gcaeiltmnpzshfkd
0  462    ghltscmpfadkienz
0  462    nsdemfhgpzklctia

In [2]:
# group on group number, concatenate and obtain unique set of responses 
dfCom=pd.DataFrame(df.groupby('Grp').Responses.apply(sum).apply(set)).reset_index()
dfCom['lenset']=dfCom.Responses.apply(len)
dfCom.tail()

     Grp                                          Responses  lenset
457  458         {m, w, a, x, h, k, s, c, z, b, r, l, y, g}      14
458  459      {e, q, w, o, h, i, s, v, b, z, r, n, y, f, g}      15
459  460                                       {b, l, m, r}       4
460  461                  {q, e, m, x, k, j, r, n, c, y, l}      11
461  462  {q, e, m, a, t, o, d, h, i, s, k, l, z, p, n, ...      18

In [3]:
# Part 1
dfCom.lenset.sum()

6457

In [4]:
# group by Grp and make list of responses
dfCom2=pd.DataFrame(df.groupby('Grp').Responses.apply(list)).reset_index()
dfCom2.tail()

     Grp                                          Responses
457  458                      [ylkrmhsw, gmslrka, cmrzbksx]
458  459                       [hefrbqnyswzigo, rhvobqiwys]
459  460                                     [rb, lrb, mrb]
460  461                                 [kcrnqy, mqlxejyc]
461  462  [zasctgqmdpnfhieokl, gcaeiltmnpzshfkd, ghltscm...

In [5]:
# function to identify common elements in all lists
def InCommon(sss):
    res=set(sss[0])
    for x in sss[1:]:
        res=set(res).intersection(x)
    return res

In [6]:
# identify common elements and length of sets
dfCom2['InCommon']=dfCom2.Responses.apply(InCommon)
dfCom2['len2']=dfCom2.InCommon.apply(len)
dfCom2

,Grp,Responses,InCommon,len2
0,1,"[clvxybjp, kripatlzy]","{l, y, p}",3
1,2,"[yrn, labirzd, noypr]",{r},1
2,3,"[ioluwteykdrcavfgqh, ioevhcfnwjduqyagkr, syjgr...","{u, q, e, a, w, o, r, h, i, k, v, g, c, y, f, d}",16
3,4,"[xjgrzncsiqhm, ijzmquhasgxrcn, rqczuimnxgh, xo...","{q, m, x, h, i, z, r, n, c, g}",10
4,5,"[ai, qjaw, agez]",{a},1
...,...,...,...,...
457,458,"[ylkrmhsw, gmslrka, cmrzbksx]","{s, k, m, r}",4
458,459,"[hefrbqnyswzigo, rhvobqiwys]","{q, w, o, h, i, s, b, r, y}",9
459,460,"[rb, lrb, mrb]","{b, r}",2
460,461,"[kcrnqy, mqlxejyc]","{q, c, y}",3
461,462,"[zasctgqmdpnfhieokl, gcaeiltmnpzshfkd, ghltscm...","{e, m, a, t, h, i, s, k, c, z, p, g, n, l, f, d}",16

In [7]:
# Part 2
dfCom2.len2.sum()

3260