# Day 9

In [1]:
import pandas as pd
df=pd.read_csv('day9.txt',header=None)
df.columns=['num']
df.tail()

                num
995  34168056348582
996  38889551577047
997  70344731032752
998  52253347246405
999  49850736551519

In [2]:
# brute force function - take data, current value, number of previous rows to look back
# same number can't be used twice so 1 numbers must be below average and other above
# seperate into two lists and calculate combinations until a solution found
# part 1 requires no solution to be found
def prev(data,row,prev):
    lst=data[row-prev:row+1].num.to_list()
    target=lst.pop()
    lsta=[x for x in lst if x<target/2]
    lstb=[x for x in lst if x>target/2 and x<target]
    lstc=[]
    for x in lsta:
        for y in lstb:
            if x + y == target:
                return 1
    
    return 0

In [9]:
# start at 26th row - find first instance of no solution
for f in range(25,1000):
    if prev(df,f,25)==0: 
        row=f
        value=df[f:f+1]
        print(row, value )
        break

633            num
633  507622668

In [10]:
# to find a contiguous multiple row sum up to row n - two loops to add n-1 to 1 of lengths n-2 to 2 - start at top 
lsta=df[:row+1].num.to_list()
for end in range(row-1,0,-1):
    for start in range(row-2,0,-1):
        lstb=lsta[start:end]
        if sum(lstb)==lsta[row]:
            res=lstb
            print(res)
            break

[19457622, 25638292, 33571966, 23658917, 24391116, 36326467, 23805765, 22019650, 23657289, 25476462, 29229871, 25419362, 37609803, 27205477, 27262577, 57230883, 45661149]

In [8]:
min(res)+max(res)

76688505