# Day 1 - Which two numbers add to 2020?

see https://adventofcode.com/2020/day/1

In [26]:
# brute force
# read in data as dataframe
# convert to list
# set up a generator to loop through all combinations of numbers and output result
import pandas as pd
df=pd.read_csv('day1.txt',header=None)
df.columns=['nums']
lst=df.nums
lstlen=len(lst)-1
for x, y in ((x,y) for x in range(0,lstlen) for y in range(0,lstlen) if lst[x]+lst[y]==2020):
    print (lst[x], lst[y], "sum", lst[x]+lst[y],"multiplied",lst[x]*lst[y])

861 1159 sum 2020 multiplied 997899
1159 861 sum 2020 multiplied 997899

In [24]:
# better method
# create new column in dataframe that is the difference between the number and 2020.
# If this number exists in the original list then those are the two that sum to 2020.
# Join table with itself using new column joining on the existing column
# Same answer
df['diff']=2020-df.nums
df.merge(df, left_on='diff',right_on='nums')

   nums_x  diff_x  nums_y  diff_y
0     861    1159    1159     861
1    1159     861     861    1159

# Part 2 - Which three numbers add to 2020?

In [27]:
# can't think of a clever way - brute force
for x, y, z in ((x,y,z) for x in range(0,lstlen) for y in range(0,lstlen) for z in range(0,lstlen) if lst[x]+lst[y]+lst[z]==2020):
    print (lst[x], lst[y], lst[z],"sum", lst[x]+lst[y]+lst[z],"multiplied",lst[x]*lst[y]*lst[z])

337 1406 277 sum 2020 multiplied 131248694
337 277 1406 sum 2020 multiplied 131248694
1406 337 277 sum 2020 multiplied 131248694
1406 277 337 sum 2020 multiplied 131248694
277 337 1406 sum 2020 multiplied 131248694
277 1406 337 sum 2020 multiplied 131248694